* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #888;
}

body {
    overflow-x: hidden;
}

.about-card {
    position: absolute;
    position: fixed;
    top: 0px;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    .about-card-1 {
        p {
            font-size: 35px;
            font-weight: bold;

        }
    }

    .about-card-2 {
        ul {
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;
                padding: 0 15px;

                a {
                    color: black;
                    font-size: 18px;
                    width: 100%;
                    transition: .5s;
                    text-decoration: none;
                }

                a:hover {
                    color: blue;
                }
            }

            a {
                .about-button {
                    background-color: blue;
                    padding: 10px 15px;
                    border-radius: 20px;
                    margin-top: -10px;
                }

                .about-button:hover {
                    background-color: rgb(71, 163, 34);
                    color: wheat;
                }
            }
        }
    }
}

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

    .about-1 {
        width: 900px;
        margin-right: 130px;

        .p-1 {
            margin-top: 100px;
            font-size: 40px;
            font-weight: bold;
        }

        .p-2 {
            padding: 10px 0;
            font-size: 30px;
        }


    }

    div {
        width: 100%;

        img {
            width: 90%;
            animation: about 1s infinite alternate
        }

        @keyframes about {
            0% {
                transform: scale(1.1)
            }

            100% {
                transform: scale(1)
            }
        }

    }
}


button {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: .5s;
    border: 2px solid blue;
}

button:hover {
    background-color: blue;
    color: white;
}




.home-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 90px;
    background-color: #f2f2f2;
    align-items: center;

    .home-img {
        img {
            width: 40%;
            opacity: 0.4;
            transition: .1s;
        }
    }

    .home-img img:hover {
        opacity: 10;

    }
}


.line-card {
    width: fit-content;
    margin: auto;
    align-items: center;
    display: flex;

    padding: 40px 0;

    .line {
        margin: 0 10px;
        width: 40px;
        border-bottom: 3px solid rgb(58, 58, 245);
    }

    .text-line {
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

    .line {
        margin: 0 10px;
        width: 40px;
        border-bottom: 3px solid rgb(58, 58, 245);
    }
}

.about-us {
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    .about-1 {
        width: 600px;

        .about-text-1 {}

        .about-icon-box {
            padding: 15px 0;

            .about-icon {}
        }
    }

    .about-2 {
        width: 600px;

        .about-text-2 {}

        .about-button {
            margin: 10px 0;
        }
    }
}

.about-bottom {
    padding: 40px 130px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;

    .about-pic {
        width: fit-content;

        img {
            width: 90%;
        }
    }

    .about-icons {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        width: 700px;

        .about-icons-card {

            width: 200px;

            .icons {
                display: flex;

                p {
                    color: blue;
                    margin: 0 5px;
                    font-size: 30px;
                }
            }

            padding: {
                color: #444444
            }

            ;
        }
    }
}

.services {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-size: 21px;

    .services-card {
        border-radius: 10px;
        margin: auto;
        padding: 14px 14px;
        background-color: #f2f2f2;
        width: 280px;
        height: 240px;
        // box-shadow: 0 0 10px black;
        transition: .3s;

        .service-1 {
            padding-left: 12px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #007aff;
            font-size: 35px;
        }


        .service-2 {
            padding: 15px 0;
            font-weight: bold;
        }

        .service-3 {}
    }

    .services-card:hover {
        .service-1 {
            background-color: white;
        }

        background-color: #007aff;

    }
}

.features-box {
    width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;

    .features-card {
        align-items: center;
        width: 270px;
        height: 60px;
        font-size: 20px;
        margin: 10px 15px;
        display: flex;
        background-color: #d7e0d9;
        padding: 5px 10px;
        border-radius: 10px;
    }

    p {
        padding: 0 5px;
        font-size: 23px;
    }

    .features-card:hover {
        color: blue;
        background-color: rgba(0, 60, 255, 0.411);
    }
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.section {
    background-color: white;
    padding: 80px 0;
}

.container {
    width: 1200px;
    margin: auto;
}

.section-description {
    text-align: center;
    margin: 20px 0;
}

.portfolio-navs {
    display: flex;
    margin: auto;
    width: fit-content;
}

.portfolio-navs button {
    background-color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.5s;
}

.portfolio-navs button:hover {
    background-color: #3498db;
    color: white;
}

.activ-nav {
    background-color: #3498db !important;
    color: white;
}

.portfolio-card-wrapper {
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-card {
    margin-bottom: 20px;
    overflow: hidden;
    width: 30%;
}

.card-img {
    width: 100%;
    position: relative;
transition: .5s;
}

.card-img:hover {
    transform: scale(1.2);
    transform: translate(1.2)

}

.card-img:hover .card-cover {
    opacity: 1;
}



.card-cover {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    opacity: 0;
    transition: .5s;
}

.card-cover-icon-box {
    display: flex;
    margin: auto;
    width: fit-content;
    font-size: 20px;
}

.card-cover-icon {
    border-radius: 50%;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-cover-icon-1 {
    border-radius: 10%;
    margin: 0 10px;
    width: 70px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-cover-icon:hover {
    background-color: #3498db;
    color: white;
}

.card-cover-icon-1:hover {
    background-color: #3498db;
    color: white;
}


.team-box {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;

    .team-card {
        margin-left: 10px;
        width: 100%;

        img {
            width: 90%;
        }

        p {
            width: fit-content;
            margin: auto;
            font-size: 20px;
            color: #444444;
            font-weight: bold;
        }

        :nth-child(3) {
            font-size: 16px;
        }
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.pricing .box {
    height: 400px;
    width: 400px;
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid #f9f9f9;
}

.pricing .box h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}

.pricing .box h4 {
    font-size: 42px;
    color: #3498db;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.pricing .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing .box ul {
    padding: 0;
    list-style: none;
    color: #222222;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing .box ul li {
    padding-bottom: 16px;
}

.pricing .box ul i {
    color: #3498db;
    font-size: 18px;
    padding-right: 4px;
}

.pricing .box ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
}

.pricing .box .btn-buy {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 50px;
    border: 2px solid #3498db;
    color: #3498db;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.pricing .box .btn-buy:hover {
    background: #3498db;
    color: #fff;
}

.pricing .recommended {
    border-color: #3498db;
}

.pricing .recommended .btn-buy {
    background: #3498db;
    color: #fff;
}

.pricing .recommended .btn-buy:hover {
    background: #2383c4;
    border-color: #2383c4;
}

.asked {
    width: 1200px;
    margin: auto;

    .asked-card {
        width: 1400px;
        display: flex;
        margin: auto;

        .p {
            padding: 20px 0;
            margin-left: 10px;
            width: 600px;
        }
    }
}

.contact .contact-about h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    color: #222222;
}

.contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    color: #888;
}

.contact .social-links {
    padding-bottom: 20px;
}

.contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #3498db;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #3498db;
}

.contact .social-links a:hover {
    background: #3498db;
    color: #fff;
}

.contact .info {
    color: #444444;
}

.contact .info i {
    font-size: 32px;
    color: #3498db;
    float: left;
    line-height: 1;
}

.contact .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #3498db;
}

.contact .php-email-form button[type=submit] {
    background: #3498db;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #2383c4;
}

.col-lg-4 {
    width: 490px;
}

.col-md-6 {
    width: 400px;
}


.form-control {
    width:
        500px;
}

.social-links {
    padding: 20px 0;
}

.hidden {
    display: none;
}

.btn-card {
    transition: 1s;
}

html {
    scroll-behavior: smooth;
}
